{% extends "main/header.html" %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label class="dark-purple-text" style="font-size:medium; font-weight: 350;" for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
        {% endfor %}
        <br></br>
        <div class="g-recaptcha" data-sitekey="6LdI89EUAAAAAEC-ATRXnso7hRr-k5WslxoUeZjz" style="padding-bottom: 20px;"></div>
        <button data-position="bottom" data-tooltip="Send email" class="btn tooltipped waves-effect waves-light medium-purple grey-purple-text" type="submit" name="action">Send
            <i class="material-icons right">send</i>
        </button>
    </form>
{% endblock %}