<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">

    <!--Favicon code -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'main/img/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#d29ae7">
    <meta name="msapplication-config" content="{% static 'main/img/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>       
</head>

<body>

    {% include "main/includes/navbar.html" %}
    {% include "main/includes/messages.html" %}
    {% if projects|length > 0 %}
    <div class="card div-fixed">
        <div class="box dark-purple div-fixed-item"></div><div class="div-fixed-item">Professional</div>
        <div class="box hot-pink div-fixed-item"></div><div class="div-fixed-item">Personal</div>
    </div>
    {% endif %}

    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>

</body>

<script>M.AutoInit();</script>