{% extends "main/header.html" %}
{% load static %}

{% block content %}
</div>
<div class="parallax-container s12 m6 l4">
        <div class="parallax"><img src="static/main/img/parallax.png"></div>
</div>
<div class="container">
<div class="col s12 m7">
    <div class="card horizontal dark-purple white-text">
        <div class="card-image">
        <img src="static/main/img/jasonpeck.png">
        </div>
        <div class="card-stacked">
        <div class="card-content">
            <p>This is a place to add a cool introduction about myself. Then reference my resume details below.
                More Cool Stuff.
                More Cool Stuff.
                More Cool Stuff.
                More Cool Stuff.
                More Cool Stuff.
                More Cool Stuff.
            </p>
            <p>More Cool Stuff.</p>
            <p>More Cool Stuff.</p>
            <p>More Cool Stuff.</p>
            <p>More Cool Stuff.</p>
            <p>More Cool Stuff.</p>
            <p>More Cool Stuff.</p>
            <p>More Cool Stuff.</p>
            <p>In my spare time, I volunteer with Doobert, a technologically driven animal rescue and transportation non-profit. By committing to small portions of a much larger overall rescue transportation, I am able to ensure abused and abandoned animals find a safe home</p>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header dark-purple white-text"><i class="material-icons">work</i>Experience</div>
                <div class="collapsible-body dark-purple">
                    {% for job, detailList in jobs.items %}
                    <ul class="collection with-header">
                        <li class="collection-header dark-purple white-text hot-pink-border"><h4>{{job.title}}</h4><p style="font-size:large">{{job.employer}}</p><span class="grey-purple-text">{{job.startDate}} - {% if job.endDate is none%}Present{% else %}{{job.endDate}}{% endif %}</span></li>
                        {% for detail in detailList %}
                        <li class="collection-item dark-purple white-text hot-pink-border">{{detail.content}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
            </div>
        </li>
        <li>
            <div class="collapsible-header dark-purple white-text"><i class="material-icons">school</i>Education</div>
            <div class="collapsible-body dark-purple">
                {% for edu in education %}
                <ul class="collection with-header">
                    <li class="collection-header dark-purple white-text hot-pink-border"><h4>{{edu.degree}}</h4><p style="font-size:large">{{edu.school}}</p><span class="grey-purple-text">{{edu.graduationDate}}</span></li>
                    <li class="collection-item dark-purple white-text hot-pink-border">Overall GPA: {{edu.GPA}}/4.000<br/>{{edu.additionalInfo}}</li>
                </ul>
                {% endfor %}
            </div>
        </li>
        <li>
            <div class="collapsible-header dark-purple white-text"><i class="material-icons">star</i>Skills</div>
            <div class="collapsible-body dark-purple">
                <table class="dark-purple white-text fixed-table">
                    {% for skill in skills %}
                    {% if forloop.counter0|divisibleby:"2" %}
                    <tr class="hot-pink-border">
                    {% endif %}
                        <td class="center-align">{{skill}}
                    {% endfor %}
                    {% if not skills|length|divisibleby:"2" %}<td>{% endif %}
                </table>
            </div>
        </li>
    </ul>
</div>
{% endblock %}