{% extends "main/header.html" %}
{% load static %}

{% block content %}
</div>
<div class="carousel carousel-slider no-autoinit">
        <div class="carousel-item" style="height: 100%;"><img src="static/main/img/Jason.png"></div>
        <div class="carousel-item" style="height: 100%;"><img src="static/main/img/Developer.png"></div>
</div>
<div class="container">
    <br>
</div>
<div class="container">
<div class="col s12 m7">
    <div class="card horizontal dark-purple white-text">
        <div class="card-image">
        <img src="static/main/img/jasonpeck.png">
        </div>
        <div class="card-stacked">
        <div class="card-content valign-wrapper">
            <p class="flow-text">
                I have been writing and reviewing code professionally in the electronic medical record industry since June 2017. Programming is also
                a personal hobby of mine, leading me to experimented with a number of programming languages and projects. To see examples of my work, visit the
                <a class="hot-pink-text" href="/portfolio">portfolio page</a>.
            </p>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header dark-purple white-text"><i class="material-icons">work</i>Experience</div>
                <div class="collapsible-body dark-purple">
                    {% for job, detailList in jobs.items %}
                    <ul class="collection with-header">
                        <li class="collection-header dark-purple white-text hot-pink-border"><h4>{{job.title}}</h4><p style="font-size:large">{{job.employer}}</p><span class="grey-purple-text">{{job.startDate}} - {% if job.endDate is none%}Present{% else %}{{job.endDate}}{% endif %}</span></li>
                        {% for detail in detailList %}
                        <li class="collection-item dark-purple white-text hot-pink-border">{{detail.content}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
            </div>
        </li>
        <li>
            <div class="collapsible-header dark-purple white-text"><i class="material-icons">school</i>Education</div>
            <div class="collapsible-body dark-purple">
                {% for edu in education %}
                <ul class="collection with-header">
                    <li class="collection-header dark-purple white-text hot-pink-border"><h4>{{edu.degree}}</h4><p style="font-size:large">{{edu.school}}</p><span class="grey-purple-text">{{edu.graduationDate}}</span></li>
                    <li class="collection-item dark-purple white-text hot-pink-border">Overall GPA: {{edu.GPA}}/4.000<br/>{{edu.additionalInfo}}</li>
                </ul>
                {% endfor %}
            </div>
        </li>
        <li>
            <div class="collapsible-header dark-purple white-text"><i class="material-icons">star</i>Skills</div>
            <div class="collapsible-body dark-purple">
                <table class="dark-purple white-text fixed-table centered">
                    {% for skill in skills %}
                    {% if forloop.counter0|divisibleby:"2" %}
                    <tr class="hot-pink-border">
                    {% endif %}
                        <td>{{skill}}
                    {% endfor %}
                    {% if not skills|length|divisibleby:"2" %}<td>{% endif %}
                </table>
            </div>
        </li>
    </ul>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var carouselSlider = document.querySelectorAll('.carousel');
    var options = {
        fullWidth: true,
        duration: 75,
        padding: -200,
    }

    var instances = M.Carousel.init(carouselSlider, options);

    setInterval(nextCarouselItem, 3000);

    function nextCarouselItem() {
      var elem = document.querySelector('.carousel');
      var el = M.Carousel.getInstance(elem);

      el.next();
  }
  });
</script>
{% endblock %}