{% extends "main/header.html" %}
{% load static %}

{% block content %}
<div class="row">
    {% for project, image in projects.items %}
    <div class="col s12 m6 l4">
        {% if project.githubLink != None %}
        <div class="card hot-pink hoverable sticky-action">
            <div class="card-image valign-wrapper hot-pink darken" style="height: 280px">
        {% else %}
        <div class="card dark-purple hoverable sticky-action">
            <div class="card-image valign-wrapper dark-purple darken" style="height: 280px">
        {% endif %}
        {% if image == None %}
                <img src="{% static defaultImage %}" style="max-height: 100%">
            </div>
        {% else %}
                <img src="{{ image }}" style="max-height: 100%">
            </div>
        {% endif %}
            <div class="card-content white-text">
                <div class="card-title"><strong>{{project.title}}</strong></div>
                <div style="padding-bottom: 4px;">
                    <span class="activator"><strong class="activator">Brief Description</strong><i class="material-icons right">expand_less</i></span>
                </div>
                <p style="padding-bottom: 4px;"><strong>Language: </strong>{% for lang in project.language %}{{lang}}{% endfor %}</p>  
                <div class="card-action center-align" style="max-height: 2%;">
                    <a style="color:white; max-height: 2%;" href="/project/?id={{project}}">View Full Page</a>
                </div>
            </div>
            {% if project.githubLink != None %}
            <div class="card-reveal hot-pink white-text">
            {% else %}
            <div class="card-reveal dark-purple white-text">
            {% endif %}
                <span class="card-title">{{project.title}}<i class="material-icons right">expand_more</i></span>
                <p>{{project.briefDescription}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}