{% extends "main/project.html" %}

{% block project_content %}
{% if project.demoVideo %}
<div class="row center-align">
    <video class="responsive-video" controls autoplay loop muted>
        <source src="{{ project.demoVideo.url }}" type="video/mp4">
            Your browser does not support the video tag.
    </video>
</div>
{% endif %}
{% for image in images %}
<div class="row">
{% if forloop.counter0|divisibleby:"2" %}
</div>
<div class="row">
{% endif %}
<div class="col {% if images|length > 1 %} s12 m6 l6{% endif %}">
<div class="card">
    <div class="card-image">
        <img class="materialboxed" src="{{image.image.url}}">
    </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}