{% extends "main/header.html" %}

{% block content %}
<h2 class="center-align dark-purple-text">{{project}}</h2>
<p><strong style="font-size: large;" class="dark-purple-text">Language: </strong><span class="white-text">{{project.language}}</span></p>
{% if project.githubLink != None %}
<p><strong style="font-size:large;" class="dark-purple-text">Github Link: </strong><a class="white-text" href="{{project.githubLink}}">{{project.githubLink}}</a></p>
{% endif %}
<p><strong style="font-size: large;" class="dark-purple-text">Description: </strong><span class="white-text">{{project.content}}</span></p>
{% for image in images %}
<div class="row">
{% if forloop.counter0|divisibleby:"2" %}
</div>
<div class="row">
{% endif %}
<div class="col s12 m6 l6">
<div class="card blue">
    <div class="card-image">
        <img class="materialboxed" src="{{image.image.url}}">
    </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}