<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Jason Peck</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/portfolio"><i class="material-icons right">folder</i>Portfolio</a></li>
            <li><a href="/contact"><i class="material-icons right">contact_mail</i>Contact</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-menu">
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>